### Xcodeのプライベート設定（ウィンドウサイズ、ブックマーク、ブレイクポイントなど）
### .mode1v3:       https://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
### .mode2v3:       https://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
### .pbxuser:       https://lists.apple.com/archives/xcode-users/2004/Jan/msg00193.html
### .perspectivev3: https://stackoverflow.com/questions/5223297/xcode-projects-what-is-a-perspectivev3-file
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# 上記4項目のデフォルト設定ファイル。これらは除外せずに追加（除外の除外）をする
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

### 手動で廃止（deprecate）したクラスのファイルがここへ移動する（同じ名前のクラスを定義しようとしたときなど）
### https://stackoverflow.com/questions/1153211/whats-that-classes-1-moved-aside-directory-in-my-classes-directory
*.moved-aside

### プロジェクトのカスタムschemeが保存されるディレクトリ
xcuserdata

### Xcodeのビルドファイル
build/
DerivedData/

### プロジェクトファイルのパッケージ（ディレクトリ）の全体を除外し、必要なものだけ追加（除外からの除外）する
*.xcodeproj/*
*.xcworkspace/*
### プロジェクトの構成情報を格納するファイル
!*.xcodeproj/project.pbxproj
### XcodeのプロジェクトのビルドSchemeを格納するファイル
!*.xcodeproj/xcshareddata/
### プロジェクトのワークスペースのデータを格納するXMLファイル
!*.xcworkspace/contents.xcworkspacedata

**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
Icon?
**/Pods/
**/.symlinks/
profile
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*
